body {
    width: 100%;
    background-color: #eff1f3;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
    position: relative;
    background-color: white;
    overflow: visible;
}

.banner,
#restaurant {
    position: absolute;
    z-index: 1;
}

.banner {
    width: 100%;
}

#footer {
    margin-top: 2053px;
}

#restaurant {
    padding-left: 10%;
    padding-right: 10%;
}

#totalRestaurant {
    padding: 10%;
    margin-top: 15%;
}

.hr {
    width: auto;
}

#overview {
    border-radius: 3px;
    padding: 2%;
    background-color: white;
}

#makeReservation {
    border-radius: 5px;
    padding: 5%;
    background-color: white;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(223, 223, 223, 0.19);
}

#makeReservation:hover {
    transform: scale(1.1);
}

#rsvForm {
    padding-left: 5%;
    padding-right: 5%;
}

.inputDate {
    font-size: 0.9rem;
    width: 100%;
    transition: 0.5s;
}

.inputDate:hover {
    background-color: rgb(192, 192, 192);
}

.label {
    font-size: medium;
    font-weight: bolder;
}

#tableSize {
    font-size: 0.9rem;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    transition: 0.5s;
}

#tableSize:hover {
    background-color: rgb(192, 192, 192);
}

#inDate {
    padding: 0;
    margin-bottom: 5%;
}

#setDate {
    padding: 0;
}

#setTime {
    padding: 0;
}

#btn-findTable {
    width: 100%;
}

#top-tags {
    position: relative;
    padding: 0.6%;
}

#tag-title {
    color: #24a041;
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#tag {
    margin: 2%;
    border-radius: 50px;
}

#restaurant-overview {
    font-size: smaller;
}

#top-overview {
    padding: 0;
}

#tags {
    width: 100%;
    padding: 0;
}

#active-link {
    color: #24a041;
    border-bottom: #24a041;
}

#rtrName {
    padding: 2%;
}

.nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    transform: scale(1.2);
}

.nav-item {
    padding-top: 3px;
}

#description {
    text-align: justify;
    text-justify: inter-word;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: large;
}

#overall-rating {
    margin-top: 2%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: small;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 2px;
}

#menu {
    color: #24a041;
    padding: 3%;
    font-size: medium;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}


/* Three column layout */

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}


/* Place text to the right */

.right {
    text-align: right;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The bar container */

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}


/* Individual bars */

.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #4caf50;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #4caf50;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #4caf50;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #4caf50;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #4caf50;
}


/* Responsive layout - make the columns stack on top of each other instead of next to each other */

@media (max-width: 400px) {
    .side,
    .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}

#review-count {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: larger;
    font-weight: 600;
    padding: 2%;
}

#listTags {
    width: 100%;
}

#navbar-overview {
    font-weight: 500;
}

#body {
    margin: 0 auto;
}

a {
    color: black;
}

a1:hover {
    color: white;
}

header {
    font-size: larger;
    background-color: white;
}

hr {
    border: 0;
    height: 1px;
    width: 700px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#headtitle {
    font-size: 3.5rem;
}

.header-search {
    background-image: url(../images/banner.jpg);
    background-size: 100%;
    position: relative;
    background-blend-mode: lighten;
    width: auto;
    height: 31.3875%;
    padding-left: 2.25%;
    padding-right: 2.25%;
    padding-top: 6%;
}

svg {
    padding-bottom: 2px;
}

.btn {
    margin-right: 10px;
    border-color: black;
    border: none;
}

#btn-header {
    font-size: 1.25rem;
}

.bg-light {
    background-color: white !important;
}

nav {
    background-color: #203850;
}

.navbar-light .navbar-brand {
    color: black;
}

#navbar-header {
    margin-right: 50px;
}

#navbarResponsive {
    margin-right: 5%;
}

.navbar-brand {
    margin-left: 8%;
    font-size: 2rem;
    font-weight: 500;
    transition: 0.5s;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.navbar-collapse {
    height: 120%;
}

.logo {
    width: 16%;
}

input {
    outline: none;
    border: none;
}

.btn-light {
    font-size: 1rem;
    color: black;
    background-color: #bfc5c5c5;
}

.btn-success {
    font-size: 1rem;
}

.btn-light:hover {
    color: white;
    background-color: #1d4b3c;
}

.btn-red {
    color: white;
    background-color: #da3743;
    border: none;
}

.btn-blue {
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
}

.btn-blue:hover {
    color: rgba(255, 255, 255, 0.493);
}

h1 {
    font-weight: 650;
}

#checkLocation {
    font-size: larger;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 3%;
    margin-left: 3%;
    border-bottom: 1px solid;
}

#getLoc {
    padding: 0.7875%;
    color: white;
    background-color: #205042;
    margin-right: 0.5625%;
    margin-left: 0.5625%;
    border-style: none;
    border-radius: 7px;
    transition: 0.2s;
}

#getLoc:hover {
    transform: scale(1.1);
    background-color: #379c79;
}

.listrtr {
    padding-bottom: 3%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 3%;
    margin-left: 3%;
    border-bottom: 1px solid;
}

.container {
    max-width: 100%;
    padding-top: 1.125%;
    padding-left: 10px;
    padding-right: 10px;
}

#container-header {
    padding-top: 0px;
}

.imgrtr {
    height: 70%;
    width: 100%;
    border-radius: 2px;
}

.name {
    font-size: larger;
    font-weight: bolder;
    color: darkred;
    padding: 5px;
}

#rating {
    padding: 0.5625%;
}

.location {
    font-size: smaller;
    padding: 0.5625%;
}

#title {
    font-size: larger;
    font-weight: bold;
}

.title.mb-2 {
    color: black;
    font-size: larger;
    font-weight: bold;
    pointer-events: none;
}

.title:hover {
    text-emphasis: none;
}

.col-sm {
    height: 100%;
    width: 100%;
    border-radius: 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 2%;
    margin-right: 0.5625%;
    margin-left: 0.5625%;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(223, 223, 223, 0.19);
}

.col-sm:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(27, 12, 233, 0.19);
    transform: scale(1.1);
}

.centered {
    color: white;
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.imgfood {
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    filter: brightness(50%);
}

.joinUs {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    margin-right: 3%;
    margin-left: 3%;
    position: relative;
}

.imgjoin {
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    filter: brightness(50%);
}

.btn-join {
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #28a745;
    border: none;
}

#btn-footer:hover {
    background-color: #359474;
}

footer {
    padding: 5% 10%;
    color: white;
    background-color: #1d4b3c;
}

.row {
    width: 100%;
    margin: 0px;
    padding-top: 3%;
}

.search-sec {
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 98%;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 5px;
}

.wrn-btn {
    width: 98%;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 5;
}

@media (min-width: 992px) {
    .search-sec {
        position: relative;
        top: -100px;
    }
}

@media (min-width: 770px) {
    .search-sec {
        position: relative;
        top: -80px;
    }
}

@media screen and (max-width: 860px) {
    #restaurateur-heading {
        display: none;
    }
    #restaurateur-subheading {
        display: none;
    }
}