<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/about.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!--HEADER-->
    <header th:replace="fragments/header/navbar :: ${navbar}"></header>

    <!--BODY-->
    <div class="about-section">
        <h1 style="text-align: center; color:white; padding-top: 0; margin-top:0; text-transform:none">About Us</h1>
        <p>" It's very hard when you eat out every day for a living,</p>
        <p>and a new restaurant comes along and you haven't got that same vigour that you had 10 years ago. "</p>
    </div>

    <h1 style="text-align:center; margin: 20px;">Our Team Member</h1>
    <div class="row">
        <div class="column" style="padding-bottom: 20px;">
            <div class="card">
                <img th:src="@{/images/member/tu.jpg}" style="width:100%">
                <h1>Hoang Tu</h1>
                <p class="title">Back-end Developer</p>
                <p>International University</p>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/nguyenphan.hoangtu"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img th:src="@{/images/member/luan.jpg}" style="width:100%">
                <h1>Hoang Luan</h1>
                <p class="title">Front-end Developer</p>
                <p>International University</p>
                <a href="https://www.instagram.com/luan.hoangbui/"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/luan802/"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img th:src="@{/images/member/quang.jpg}" style="width:100%">
                <h1>Nhat Quang</h1>
                <p class="title">Back-end Developer</p>
                <p>International University</p>
                <a href="https://www.instagram.com/nhaatjwang/"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/nhatquang.voho"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img th:src="@{/images/member/trien.jpg}" style="width:100%">
                <h1>Khue Trien</h1>
                <p class="title">Front-end Developer</p>
                <p>International University</p>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>


            <!-- <div class="column">
            <div class="card">
                <img th:src="@{/images/member/viet.jpg}" style="width:100%">
                <h1>Quoc Viet</h1>
                <p class="title">Back-end Developer</p>
                <p>International University</p>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
        </div> -->
        </div>
        <div th:replace="fragments/layout/footer :: footer"></div>
        <!--FOOTER-->
</body>

</html>