<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RESTAURANT RECOMMENDATION</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<!--<div sec:authentication="principal.authorities"></div>-->
<li style="align-items: center" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>


</body>
</html>