<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>GOURMÉTTE</title>
</head>
<body>
    <div class="main_container">
        <form th:action="@{/registration-test}" method="post">
            Username :<input type="text" name="username" placeholder="username"> <br>
            Password :<input type="password" name="password" placeholder="password"><br>
            Email : <input type="email" name="email" placeholder="email"> <br>
            First Name : <input type="text" name="firstName" placeholder="firstName"> <br>
            Last Name : <input type="text" name="lastName" placeholder="lastName"> <br>
            Phone : <input type="tel" name="phone" placeholder="phone"> <br>
            <input type="submit" value="Sign up">
        </form>
    </div>
</body>
</html>