<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="profile.css">
 
</head>
<body>
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name" style='font-size: 20px'>Rebecca Sanders
                            </li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
        					<li class="active"><a href="#"><span class="fa fa-user"></span> Profile</a></li>
								<li><a href="updateprofile.html"><span class="fa fa-cog"></span> Edit Profile</a></li>
								<li><a href="#"><span class="fa fa-cog"></span> Change Password</a></li>
        				</ul>
        			</nav>
                </div>
                <div class="content-panel">
                    <h2 class="title">Profile</h2>
                    <form class="form-horizontal">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Personal Info</h3>
                            <div class="form-group avatar">
                                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                </figure>
                              
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">User Name</label>
									<label class="col-md-2 col-sm-3 col-xs-12 control-label" style='font-weight: 350; text-align: left'>Rebeca Sanders</label>


                            </div>
        
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">First Name</label>
									<label class="col-md-2 col-sm-3 col-xs-12 control-label" style='font-weight: 350; text-align: left'>Rebeca</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Last Name</label>
									<label class="col-md-2 col-sm-3 col-xs-12 control-label"style='font-weight: 350; text-align: left'>Sanders</label>

                            </div>
                        </fieldset>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Contact Info</h3>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
									<label class="col-md-2 col-sm-3 col-xs-12 control-label"style='font-weight: 350; text-align: left'>Rebecca@website.com</label>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Phone</label>
									<label class="col-md-2 col-sm-3 col-xs-12 control-label"style='font-weight: 350; text-align: left'>0123456789</label>

                            </div>

                        </fieldset>
                        <hr>
                        
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

	
</body>
</html>