<div xmlns:th="http://www.thymeleaf.org">
    <table th:fragment="listAccounts" xmlns:th="http://www.thymeleaf.org" id="dtMaterialDesignExample" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Id
            </th>
            <th class="th-sm">Username
            </th>
            <th class="th-sm">Password
            </th>
            <th class="th-sm">Phone Number
            </th>
            <th class="th-sm">Address
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Tucubu</td>
            <td>anhyeuem</td>
            <td>077525539</td>
            <td>Go Vap</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Luancunho</td>
            <td>emyeuanh</td>
            <td>0252885417</td>
            <td>Tan Binh</td>
        </tr>
        </tbody>
    </table>
</div>
