<div xmlns:th="http://www.thymeleaf.org">
    <table th:fragment="listRestaurants" xmlns:th="http://www.thymeleaf.org" id="dtMaterialDesignExample" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Id
            </th>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Location
            </th>
            <th class="th-sm">Cuisine
            </th>
            <th class="th-sm">Star
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Gaxeo</td>
            <td>District 1</td>
            <td>Korean</td>
            <td>4.5</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Tokyo Deli</td>
            <td>District 2</td>
            <td>Japan</td>
            <td>4</td>
        </tr>
        </tbody>
    </table>
</div>
