<div xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <div th:fragment="listAccounts" >

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>

    <table class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">First Name
            </th>
            <th class="th-sm">Last Name
            </th>
            <th class="th-sm">Email
            </th>
            <th class="th-sm">Username
            </th>
            <th class="th-sm">Phone Number
            </th>
            <th class="th-sm">Created At
            </th>
            <th class="th-sm">Updated At
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.phone}">Phone Number</td>
            <td th:text="${user.createdAt}">Created At</td>
            <td th:text="${user.updatedAt}">Updated At</td>
            <td><a href="#" class="btn btn-outline-info">EDIT</a></td>
            <td><a href="#" class="btn btn-outline-danger">DELETE</a></td>
        </tr>
        </tbody>
    </table>


    </div>
</div>
